{%  extends "contacts/base.html" %}
 {% block main_content %}

<h2>{{ page_title }}</h2>


{%  if new_person %}
<div class="alert alert-success" role="alert">
   Success! Person <b>{{ new_person.display_name }}</b> added!
</div>
{% endif %}

<form action="{% url 'contacts:index' %}" method="post">
    {% csrf_token %}
    <ul style="list-style-type:none;">
        {{ person_form.as_ul }}
         <li><br /><input type="reset" value="Reset" />
                &nbsp; <input type="submit" value="Add" />
       </li>
    </ul>
</form>

    {% include "contacts/contact_list.html" %}
{% endblock %}